# Sample OpenOCD configuration for the blue pill board

# Some microcontrollers have a different CPU ID; uncomment what you have:
# This is for the STM32F103C8T6
#set CPUTAPID 0x2ba01477
# This is for the CS32F103C8T6 clone
set CPUTAPID 0x1ba01477

# Depending on the hardware revision you got you'll have to pick ONE of these
# interfaces. At any time only one interface should be commented out.

# Revision C (newer revision)
# source [find interface/stlink-v2-1.cfg]

# Revision A and B (older revisions)
source [find interface/stlink-v2.cfg]

source [find target/stm32f1x.cfg]
